code {
	overflow-x: auto;
}

img {
	max-width: 100%;
	cursor:pointer;
}

img.full-img {
	max-width: none;
}

div.left { text-align: left; }
div.right { text-align: right; }

div.post-button > div {
	display: inline-block;
	width: 50%;
}

.button.button-primary-0,
button.button-primary-0 {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.button.button-primary-0:hover,
button.button-primary-0:hover,
.button.button-primary-0:focus,
button.button-primary-0:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

.button.button-primary-1,
button.button-primary-1 {
  color: #FFF;
  background-color: #030303;
  border-color: #030303;
}

.button.button-primary-1:hover,
button.button-primary-1:hover,
.button.button-primary-1:focus,
button.button-primary-1:focus {
  color: #FFF;
  background-color: #000000;
  border-color: #000000;
}

.button.button-primary-2,
button.button-primary-2 {
  color: #FFF;
  background-color: #72E3C0;
  border-color: #72E3C0;
}

.button.button-primary-2:hover,
button.button-primary-2:hover,
.button.button-primary-2:focus,
button.button-primary-2:focus {
  color: #FFF;
  background-color: #007EAB;
  border-color: #007EAB;
}

.button-primary-bump-0 {
	background-color: #13A3D0;
	color: #FFF;
	border-color: #13A3D0;
}
.button-primary-bump-0:hover,
.button-primary-bump-0:focus {
	color: #FFF;
	background-color: #0393B0;
	border-color: #0393B0;
}

.button-primary-bump-1 {
	background-color: #333333;
	color: #FFF;
	border-color: #13A3D0;
}
.button-primary-bump-1:hover,
.button-primary-bump-1:focus {
	color: #FFF;
	background-color: #000000;
	border-color: #000000;
}

.button-primary-bump-2 {
	background-color: #A313D0;
	color: #FFF;
	border-color: #13A3D0;
}
.button-primary-bump-2:hover,
.button-primary-bump-2:focus {
	color: #FFF;
	background-color: #9303B0;
	border-color: #9303B0;
}

.rd-form {
	background-color: #cdcdcd;
	margin-left: 0;
	padding-right: 0;
	margin-right: 0;
	width: 15%;
	bottom: 0;
	right: 0;
	position: fixed;
}
